body {
	background-color: #668D3C;

}

.circle {
	width: 10%;
	height: 12.5%;
	border-radius: 100%;
	z-index: 2;
	position: relative;
	display: inline-block;
}

#circle1 {
	background-color: #668D3C;
	top: 0%;
	left: 10%;
}
#circle2 {
	background-color: #668D3C;
	top: 0%;
	left: 69.5%;
}

#plaque {
	color: #6c3400;
	margin-left: auto;
	margin-right: auto;
	width: 66%;
	padding: 1.5em;
	position: relative;
	top: -3em;
	text-align: center;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* IE10+ */
	background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	z-index: 1;
	border-bottom-right-radius: 25%;
	border-bottom-left-radius: 25%;
}

#plaque p {
	padding-left: 0.67em;
	padding-right: 0.67em;
}

.photoBox {
	border: 1px solid #fff;
	display: inline-block;
	margin: 2em;
	max-height: 500px;
	max-width: 500px;
}
		
	.photoBox img {
		padding: 3em;
}

#one {
	border: none;
}
		
#one img {
	padding: 0.5em;
	border-left: 2px solid #900;
	border-top: 4px solid #900;
	border-radius: 3em 0em 1.5em 0em;		
}
		
#two {
	border: none;
			
}

#two img {
	padding: 1em;
	border-bottom: 12px double yellow;
	border-right: 3px solid yellow;
	border-radius: 4em 0em 3em 0em;
}
		
#three {
	border: 1px inset #fff;
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#four {
	border: 2px inset #aa3000;
	background: #aa3000;
	background-image: url("images/wood1.png"), url("images/wood2.png");
	background-repeat: repeat-x, repeat;
}

#four img{
	border: 2px outset #aa3000;
	padding: 0;
	margin: 0.75em;
}

#five {
	border: none;
	border-bottom: 8px solid #000066;
	border-top: 8px solid #ff7f50;
}

#five img {
	border-bottom: 5px solid #ff7f50;
	border-top: 5px solid #000066;
	padding: 0.25em;
	padding-bottom: 0.75em;
	padding-top: 0.75em;
	margin: 0.75em;
}

#six {
	background-color: #961322;
	border: 3px solid #fff;
}

#six img {
	padding: 0;
	margin: 3em;
	border: 2px solid #fff;
}

#seven {
	border: none;
	border-bottom: 2px solid darkgreen;
	border-right: 4px solid darkgreen;
	
	border-radius: 3em 0 0 0;
}

#seven img {
	border: 2px solid white;
	border-radius: 3em 0 0 0;
	padding: 0px;
	margin: 0.67em;
}

#eight {
	border: none;
	background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=1 ); /* IE6-9 */
}

#eight img {
	padding: 3.5em;
}

#nine {
	border: 4px solid #a6430a;
	border-radius: 0 0 5em 0;
}

#nine img {
	border: 2px solid white;
	border-radius: 5em 0 0 0;
	padding: 0.5em;
	margin: 0.5em;
}

#ten {
	border: 0;
	border-top: 6px solid #900;
	border-left: 4px solid #900;
	border-radius: 6em 0 0 0;
}

#ten img {
	border-bottom: 4px solid white;
	border-right: 2px solid white;
	border-radius: 6em 0 4em 0;
	padding: 0.25em;
	margin: 0.25em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

#eleven {
	border-radius: 66%;
	border: none;
	border-bottom: 3px solid black;
	border-top: 3px solid white;
}

#eleven img {
	border-radius: 66%;
	padding: 0.5em;
	margin: 2.5em;
	border-top: 2px solid black;
	border-bottom: 2px solid white;
}

#twelve {
	background-color: #252525;
	border: none;
	border-radius: 1em 1em 0em 0em;
}

#twelve img {
	border-radius: 33%;
	padding: 1.5em 1.5em 2em 1.5em;
}

#thirteen {
	border: 6px solid #cf4300;
	border-top: none;
}

#thirteen img {
	padding: 1em 0.5em 0em 0.5em;
	margin: 0.5em 2em 1em 2em;
	border: 4px solid #000066;
	border-bottom: none;
}

#fourteen {
	border: 0;
	border-bottom: 15px solid #ffff66;
}

#fourteen img {
	border-radius: 44% 44% 0 0;
	border-top: 2px solid #ffff66;
	padding: 0.25em;
	padding-top: 0.5em;
	margin: 0.5em;
}

#fifteen {
	background-color: #000;
	border: 3px solid #0099FF;
}

#fifteen img {
	border: 5px solid #0099FF;
	padding: 0;
	margin: 2em;
}

#sixteen {
	border: none;
	border-radius: 25% 0 25% 0;
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,183,107,1) 0%, rgba(255,124,0,1) 32%, rgba(255,167,61,1) 67%, rgba(255,127,4,1) 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,183,107,1)), color-stop(32%,rgba(255,124,0,1)), color-stop(67%,rgba(255,167,61,1)), color-stop(88%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 32%,rgba(255,167,61,1) 67%,rgba(255,127,4,1) 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 32%,rgba(255,167,61,1) 67%,rgba(255,127,4,1) 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 32%,rgba(255,167,61,1) 67%,rgba(255,127,4,1) 88%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,183,107,1) 0%,rgba(255,124,0,1) 32%,rgba(255,167,61,1) 67%,rgba(255,127,4,1) 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 */
}

#sixteen img {
	padding: 0.5em 3em 0.5em 3em;
	border-radius: 25% 0 25% 0;
}

#seventeen {
	border: none;
	border-right: 4px solid #003333;
	border-bottom: 2px solid #003333;
	border-radius: 0 50% 50% 0;
}

#seventeen img {
	border-radius: 50%;
	border-left: 4px solid #964514;
	padding: 2em 1em 2em 2em;
	margin: 0em;
}

#eighteen {
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 7%, rgba(0,0,0,1) 20%, rgba(44,44,44,1) 34%, rgba(102,102,102,1) 49%, rgba(17,17,17,1) 65%, rgba(28,28,28,1) 72%, rgba(71,71,71,1) 80%, rgba(43,43,43,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(7%,rgba(89,89,89,1)), color-stop(20%,rgba(0,0,0,1)), color-stop(34%,rgba(44,44,44,1)), color-stop(49%,rgba(102,102,102,1)), color-stop(65%,rgba(17,17,17,1)), color-stop(72%,rgba(28,28,28,1)), color-stop(80%,rgba(71,71,71,1)), color-stop(91%,rgba(43,43,43,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(0,0,0,1) 20%,rgba(44,44,44,1) 34%,rgba(102,102,102,1) 49%,rgba(17,17,17,1) 65%,rgba(28,28,28,1) 72%,rgba(71,71,71,1) 80%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(0,0,0,1) 20%,rgba(44,44,44,1) 34%,rgba(102,102,102,1) 49%,rgba(17,17,17,1) 65%,rgba(28,28,28,1) 72%,rgba(71,71,71,1) 80%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(0,0,0,1) 20%,rgba(44,44,44,1) 34%,rgba(102,102,102,1) 49%,rgba(17,17,17,1) 65%,rgba(28,28,28,1) 72%,rgba(71,71,71,1) 80%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 7%,rgba(0,0,0,1) 20%,rgba(44,44,44,1) 34%,rgba(102,102,102,1) 49%,rgba(17,17,17,1) 65%,rgba(28,28,28,1) 72%,rgba(71,71,71,1) 80%,rgba(43,43,43,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 10px solid #998100;
}

#eighteen img {
	border: 5px solid #998100;
	padding: 0;
	margin: 2em;
}

#nineteen {
	background-color: cornflowerblue;
	border: none;
	border-radius: 1em;
}

#nineteen img {
	border: 0.75em solid #000033;
	padding: 0;
	margin: 2.25em;
	border-radius: 0.5em;
}

#twenty {
	background-color: white;
	border: none;
}

#twenty img {
	border: 0.5em solid #aa3000;
	padding: 0;
	margin: 2em;
}

#twentyone {
	border: none;
	border-top: 2px solid #003333;
	border-right: 4px solid #003333;
	border-bottom: 2px solid #003333;
	border-radius: 0 50% 50% 0;
}

#twentyone img {
	border-radius: 0 50% 50% 0;
	border-left: 5px solid #f4a460;
	padding: 1em 0.5em 1em 1em;
	margin: 0.5em;
}

#twentytwo {
	border: none;
	border-bottom: 7px solid yellow;
	border-top: 7px solid yellow;
	border-radius: 30%;
}

#twentytwo img {
	border-radius: 50%;
	border-right: 3px solid #000066;
	border-left: 3px solid #fff;
	padding: 1em;
	margin: 0.5em;
}

#twentythree {
	height: 400px;
	width: 400px;
	border: 0;
}

#triangleA {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 200px solid #009999;
}

#triangleB {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 200px solid white;
}

#twentythree img {
	position: relative;
	top: -360px;
}

#twentyfour {
	border: 0;
	border-left: 14px solid white;
	border-radius: 50%;
}

#yellowStripe {
	height: 150px;
	width: 8px;
	background: yellow;
	float: left;
	position: relative;
	top: 8em;
	left: 2em;
}

#twentyfour img {
	margin: 1em;
	float: left;
}

#twentyfive {
	width: 400px;
	height: 400px;
	border: none;
}

#triangleC {
    position: relative;
    left: 20px;
    width:0;
    border-bottom:solid 300px #000066;
    border-right:solid 180px transparent;
    border-left:solid 180px transparent;
}
#triangleC #empty {
    position: absolute;
    top:9px;
    left:-171px;
    width:0;
    border-bottom:solid 286px #668D3C;
    border-right:solid 171px transparent;
    border-left:solid 171px transparent;
}

#triangleD {
    position: relative;
    top: -250px;
    left: 20px;
    width:0;
    border-top:solid 300px white;
    border-right:solid 180px transparent;
    border-left:solid 180px transparent;
}
#triangleD #empty2 {
    position: absolute;
    top:-295px;
    left:-171px;
    width:0;
    border-top:solid 286px #668D3C;
    border-right:solid 171px transparent;
    border-left:solid 171px transparent;
}

#twentyfive img {
	position: relative;
	height: 225px;
	width: 300px;
	top: -538px;
	left: 48px;
	border: 1px solid white;
	padding: 0;
	margin: 0;
}

.summary {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	color: #6c3400;
	text-align: center;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); /* IE10+ */
	background: linear-gradient(135deg, #fefcea 0%,#f1da36 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
